{% extends 'base.jinja2' %}

{% block subtitle %}Create New Donation{% endblock subtitle %}

{% block content %}
<form method="POST">
    <label for "donor-input">Donor:</label><input id="donor-input" type="text" name="name"><br>
    <label for "donation-input">Donation:</label><input id="donation-input" type="number" name="amount"><br>
    <input type="submit" value="Add new donation">
</form>
{% endblock content %}
